.form-control{
    width: 500px;
    height: 40px;
}

.jumbotron{
    margin-left: -180px;
}
.col-sm-12{
    margin-left: 200px;
    margin-top: 10px;
}
.form-check-label{
    margin: 20px;
    font-family: "思源宋体 CN";
    font-size: 12px;
}

.userlist{
    width: 600px;
}
.list-group-item{
    margin-bottom: 10px!important;
}
